/* css/main.css */
body{
  height: 100%;
  width: 100%;
  padding: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: #222;
}

a {
  text-decoration: none;
  color: #222;
}

.line {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.black {
  stroke: #222222;
}

.white {
  stroke: #FFFFFF;
}

.gray {
  stroke: #AAAAAA;
}

.darkgray {
  stroke: #555555;
}

.red {
  stroke: #FF0000;
}

.green {
  stroke: #00FF00;
}

.blue {
  stroke: #0000FF;
}

.cyan {
  stroke: #00FFFF;
}

.yellow {
  stroke: #FFFF00;
}

.purple {
  stroke: #FF00FF;
}

.noFill {
  fill: none;
}

.blackFill {
  fill: #222222;
}

.whiteFill {
  fill: #FFFFFF;
}

.redFill {
  fill: #FF0000;
}

.greenFill {
  fill: #00FF00;
}

.blueFill {
  fill: #0000FF;
}

.cyanFill {
  fill: #00FFFF;
}

.yellowFill {
  fill: #FFFF00;
}

.purpleFill {
  fill: #FF00FF;
}

.toolbar {
  width: 60px;
  text-align: left;
  margin: 38px 0px 0px 0px;
  float: left;
  z-index: 1000;
}

.thinner {
  stroke-width: 2px;
}

.thin {
  stroke-width: 4px;
}

.thick {
  stroke-width: 8px;
}

.thicker {
  stroke-width: 16px;
}

.selectBlack {
  width: 20px;
  height: 20px;
  border: 3px solid #000000;
  background-color: #000000;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectWhite {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #FFFFFF;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectGray {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #AAAAAA;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectDarkGray {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #555555;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}
.selectRed {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #FF0000;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectDarkRed {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #8B0000;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectGreen {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #00FF00;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectDarkGreen {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #008B00;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectBlue {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #0000FF;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectDarkBlue {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #00008B;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectCyan {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #00FFFF;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectDarkCyan {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #008B8B;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectYellow {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #FFFF00;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectDarkYellow {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #8B8B00;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectPurple {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #FF00FF;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectDarkPurple {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #8B008B;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectBrown {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #FFDAB9;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectDarkBrown {
  width: 20px;
  height: 20px;
  border: 3px solid #222222;
  background-color: #8B4513;
  margin: 0px 2px 0px 0px;
  display: inline-block;
}

.selectThicknessWrapper {
  width: 48px;
  height: 105px;
  background-color: #FFFFFF;
  border: 3px solid #222222;
  margin: 0px 0px 5px 0px;
}

.selectThicknessInner {
  height: 20px;
  background-color: #FFFFFF;
  border: 3px solid #FFFFFF;
}

.selectThinner {
  height: 2px;
  border: 2px solid #222222;
  background-color: #222222;
  margin: 2px 0px 2px 0px;
}

.selectThin {
  height: 6px;
  border: 2px solid #222222;
  background-color: #222222;
  margin: 2px 0px 2px 0px;
}

.selectThick {
  height: 10px;
  border: 2px solid #222222;
  background-color: #222222;
  margin: 2px 0px 2px 0px;
}

.selectThicker {
  height: 16px;
  border: 2px solid #222222;
  background-color: #222222;
  margin: 2px 0px 2px 0px;
}

.selectBlack:hover, .selectWhite:hover, .selectGray:hover, .selectDarkGray:hover, .selectRed:hover, .selectGreen:hover, .selectBlue:hover, .selectCyan:hover, .selectYellow:hover, .selectPurple:hover, .selectDarkRed:hover, .selectDarkGreen:hover, .selectDarkBlue:hover, .selectDarkCyan:hover, .selectDarkYellow:hover, .selectDarkPurple:hover, .selectBrown:hover, .selectDarkBrown:hover {
  border: 3px solid #ccccff;
}

.selectThicknessInner:hover {
  background-color: #ccccff;
}

.selected {
  border: 3px solid #ccccff;
}

.container{
  float: left;
  padding: 3px;
  width: 700px;
}
.canvas {
  float:left;
  border: 3px solid #333;
  height:500px;
  width:500px;
  background-color: #fff;
}

.titleContainer {
  height: 50px;
  margin: 0;
}

h1 {
  font-weight: lighter;
  display: inline-block;
  margin: 0;
}

nav{
  float: left;
  width: 100%;
  margin: 0;
  height: 50px;
  /*left: -33%;*/
  /*position: fixed;*/
  /*text-align: center;*/
  /*margin: 5px;*/
  /*margin-left: -20%;*/
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-align: center;
}

li.pic h4 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin: 0
}

svg {
  margin-bottom: 10px;
}

nav li{
  border: 1px solid #333;
  /*width: 140px;*/
  border-radius: 3px;
  display: inline-block;
  padding:10px 5px;
}

nav li a:hover {
  color: #fff;
}
nav li:hover{
  background-color: #ccccff;
}

header{
  font-size: 18px;
  /*margin-left: 250px;*/
}

.createNewRoom {
  border: 1px solid #333;
  border-radius: 3px;
  margin-right: 5px;
  display: inline;
}

/* timer styling */
.timerContainer h2 {
  margin: 0;
  font-weight: 200;
  font-size: 2em;
}

/*Login Form Styling*/
form.auth {
  width: 185px;
  margin-top: 30px;
}

form>input {
  display: block;
  padding: 7px 10px;
  margin: 11px 0px;
  width: 155px;
}

input[type="submit"] {
  margin: auto;
  width: 50px;
}

span.error {
  color: red;
  display: block;
  text-align: center;
  margin-bottom: 12px;
}

/*RoomView Layout*/

html, body {
  padding: 0;
  margin: 0;
}

nav {
  display: block;
}

.container {
  width: 100%;
}

.roomView * {
  outline: 1px dashed red;
}

.draw {
  width: 600px;
  height: 600px;;
  float: left;
  margin: 0 50px;
}

.users {
  width: 200px;
  float: left;
}


.chat {
  clear: both;
  height: 400px;
  width: 800px;
  position: relative;
  top: 50px;
  margin: 0 50px;
}















