/* css/main.css */
body{
	height: 100%;
	width: 100%;
	padding: 0px;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 300;
	color: #222;
}
h1 {
  font-weight: lighter;
}
a {
  text-decoration: none;
  color: #222;
}

.line {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.black {
  stroke: #222222;
}

.white {
  stroke: #FFFFFF;
}

.red {
  stroke: #FF0000;
}

.green {
  stroke: #00FF00;
}

.blue {
  stroke: #0000FF;
}

.cyan {
  stroke: #00FFFF;
}

.yellow {
  stroke: #FFFF00;
}

.purple {
  stroke: #FF00FF;
}

.noFill {
  fill: none;
}

.blackFill {
  fill: #222222;
}

.whiteFill {
  fill: #FFFFFF;
}

.redFill {
  fill: #FF0000;
}

.greenFill {
  fill: #00FF00;
}

.blueFill {
  fill: #0000FF;
}

.cyanFill {
  fill: #00FFFF;
}

.yellowFill {
  fill: #FFFF00;
}

.purpleFill {
  fill: #FF00FF;
}

.thinner {
  stroke-width: 2px;
}
.thin {
  stroke-width: 4px;
}

.thick {
  stroke-width: 8px;
}

.thicker {
  stroke-width: 16px;
}

nav{
	float: left;
  width: 150px;
  text-align: center;
  margin: 5px;
  margin-right: 20px;
}
.container{
	float: left;
	padding: 3px;
}
.canvas {
	float:left;
	border: 3px solid #333;
	height:500px;
	width:500px;
	background-color: #fff;
}
li {
	list-style: none;
}

li.pic h2 {
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  margin: 0
}

svg {
  margin-bottom: 10px;
}

nav li{
	border-top: 1px solid #333;
	/*padding:10px 5px;*/
}
nav li a{
  padding: 10px;
  display: block;
}
nav li a:hover {
  color: #fff;
}
nav li:hover{
  background-color: #ccccff;
}
nav li:first-child{
  border: 0;
}
/*.color-picker{*/
	/*padding: 0;*/
	/*margin: 3px;*/
/*}*/
/*select{*/
	/*margin-left: 15px;*/
	/*margin-bottom: 5px;*/
/*}*/
header{
	font-size: 18px;
  margin-left: 250px;
}

/* timer styling */
.timerContainer h2 {
  margin: 0;
	font-weight: 200;
	font-size: 3em;
}
